<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.KDJStudios">
    <uses-sdk android:targetSdkVersion="7" android:minSdkVersion="7"/>
    <uses-feature android:name="android.software.live_wallpaper" />

    <application
        android:label="@string/app_name"
        android:icon="@drawable/thumbnail"
        android:enabled="true" android:persistent="true">

        <service
            android:label="@string/hglw_name"
            android:icon="@drawable/thumbnail" 
            android:name=".Wallpaper"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>
            <meta-data android:name="android.service.wallpaper" android:resource="@xml/screen" />
        </service>

        <activity
            android:label="@string/hglw_settings"
            android:name=".Settings"
            android:theme="@android:style/Theme.Black"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.PREFERENCE" />
            </intent-filter>
        </activity>

    </application>
</manifest>